<footer class="contenido" id="footer">
    
    <article id="logo-footer"></article>
    <br><br>

    <nav class="in-contenido-footer">

       
        <p class="footer"><i class="fa-solid fa-location-dot social "></i> <br> <br> 
            Av. Baja California 274, Col. Hipódromo, Del. Cuauhtémoc, C.P. 06100, Ciudad de México.
        </p>
        
        <br><br>
       
        <div>
        <a class="social" href="#" target="_blank"> <i class="fa-brands fa-facebook"></i></a>
        <a class="social" class="social" href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a class="social" href="#" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a class="social" href="#" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
        <a class="social" href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a class="social" href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        </div>


        <!--
   <ul>
            <a href="#">Términos y condiciones</a>

        </ul>
        <ul>
            <a href="#">Mapa de sitio</a>

        </ul>
        <ul>
            <a href="#">Información legal</a>

        </ul>

            -->
     
    </nav>
  
    <p class="footer">Innovamotion Agency <i class="fa-regular fa-copyright social"></i> 2018-2022. <br> Todos los derechos reservados.</p>
</footer>