<footer>
    <p>Todos los derechos reservados</p>
    <nav>
    <ul><a href="#">Términos y condiciones |</a></ul>
    <ul><a href="#">Mapa de sitio |</a></ul>
    <ul><a href="#">Información legal |</a></ul>
    </nav>
</footer>