<footer class="contenido" id="footer">
    
    <article id="logo-footer"></article>
    
    <br><br>

    <nav class="in-contenido-footer">

       
        <p class="footer"><i class="fa-solid fa-location-dot social "></i> <br> <br> 
            Av. Baja California 274, Col. Hipódromo, Del. Cuauhtémoc, C.P. 06100, Ciudad de México.
        </p>
        
        <br><br>
       
        <div>
        <a class="social" href="https://www.facebook.com/innovamotionagency" target="_blank"> <i class="fa-brands fa-facebook"></i></a>
        <a class="social" href="https://www.instagram.com/innovamotion/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a class="social" href="https://www.linkedin.com/company/innovamotion" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a class="social" href="https://www.tiktok.com/@innovamotion" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
        <a class="social" href="https://twitter.com/innovamotionip" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a class="social" href="https://www.youtube.com/channel/UC4OUZysNzjGnXfu8zxKE5-g" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        </div>


    </nav>
  
    <p class="footer">Innovamotion Agency <i class="fa-regular fa-copyright social"></i> 2018-2022. <br> Todos los derechos reservados.</p>
</footer>