<footer class="contenido" id="footer">

    <nav class="in-contenido-footer">
        <article id="logo-footer">

        </article>

        <p>Innovamotion Agency 2020-2022. Todos los derechos reservados.</p>

    </nav>


    <nav class="in-contenido-footer">
        <ul><a href="#" target="_blank">Facebook |</a></ul>
        <ul><a href="#" target="_blank">Instagram |</a></ul>
        <ul><a href="#" target="_blank">Linkedin |</a></ul>
        <ul><a href="#" target="_blank">Tiktok |</a></ul>
        <ul><a href="#" target="_blank">Twitter |</a></ul>

    </nav>


    <nav class="in-contenido-footer">
    <ul><a href="#">Términos y condiciones |</a></ul>
    <ul><a href="#">Mapa de sitio |</a></ul>
    <ul><a href="#">Información legal |</a></ul>
   
    </nav>
   
    
    

</footer>