
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <link href="/css/stylesm.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/c2519fee2a.js"></script>
    <script src="https://kit.fontawesome.com/8304116b6b.js" crossorigin="anonymous"></script>
    <title>Innovamotion Agency</title>
    <link rel="shortcut icon" href="/work/public/img/perfil.jpg">
</head>