<header class="nav-bar">
    
    <nav>
        <div>Logotipo</div>
        <ul>
            <li><a href="#">Telefono</a></li>
            <li><a href="#"></a>Correo</li>
            <li><a href="#"></a>Redes</li>
        </ul>

    </nav>

    <nav>
        <ul class="enlaces">
            <li><a href="#home">Inicio |</a></li>
            <li><a href="#about">La firma |</a></li>
            <li><a href="#services">Servicios |</a></li>
            <li><a href="#">Blog |</a></li>
            <li><a href="#">Contacto |</a></li>
        </ul>

    </nav>
    
       
  

</header>