<header class="nav-bar">
    
 <!-- Aquí puedes escribir tu comentario 
    
   
    -->

<article id="logotipo-main"></article>
    

    <nav id="enlaces">
        <ul class="enlaces">
            <li><a href="#home">Inicio </a></li>
            <li><a href="#about">La firma </a></li>
            <li><a href="#services">Servicios </a></li>
            <li><a href="#international">internacional </a></li>
            <li><a href="#blog">Blog </a></li>
            <li><a href="#contact">Contacto </a></li>
        </ul>

    </nav>
    
  

</header>


