<!DOCTYPE html>
<html lang="es">
    <%- include ('./partials/head')%>
<body>
    
<section id="blog">

    <div><h2>Nuestro Blog</h2></div>

<div class="contenido">

<article>
    <p>Conoce todos los recursos de nuestro blog</p>
</article>

</div>


</section>
    
    <%- include ('./partials/footer.ejs')%>    

</body>
</html>