<!DOCTYPE html>
<html lang="es">
    <%- include ('./partials/head')%>
<body>
    
<section id="designs">

    <div><h2>Diseños Industriales</h2></div>

<div class="contenido">

<article>
    <p>Los Diseños Industriales son</p>
</article>

</div>


</section>
    
    <%- include ('./partials/footer.ejs')%>    

</body>
</html>