<!DOCTYPE html>
<html lang="es">


<%- include ('./partials/head')%>

    <body>
        <%- include ('./partials/header.ejs')%>

            <section id="home">
                <div class="portada">
                    <h1> Brindamos certeza jurídica a tu creatividad tanto en México como en el extranjero.</h1> <br>
                    <br>
                    <form type="button"> ¡Contáctanos!</form>
                    <br>
                </div>
            </section>

            <section id="about">

                <div>
                    <br><br><br>
                    <h2>Motivados por el fomento a la innovación</h2>
                </div>

                <div class="contenido">


                    <article class="in-contenido-about">
                        <p>Proveemos soluciones integrales en la gestión de Propiedad Intelectual e innovación, gracias
                            a la experiencia adquirida desde 2012 como Examinadores de Patente y Abogados dentro del
                            Instituto Mexicano de la Propiedad Industrial (IMPI).
                        </p>
                        <!--
<a href="">Continuar leyendo...</a>
-->

                    </article>

                    <article id="about-image"></article>


                </div>



            </section>
            <section id="international">
                <div>
                    <br><br><br><br>
                    <h2>Alcance internacional</h2>

                </div>


                <div class="contenido">

                    <article class="in-contenido-about">
                        <p>Debido a nuestro profesionalismo y casos de éxito somos reconocidos como una firma emergente
                            lider en la gestión de Propiedad Intelectual e innovación.</p>

                    </article>

                    <article id="logo-internacional"></article>

                </div>

            </section>

            <section id="services">

                <div>
                    <br><br><br><br>
                    <h2>Nuestros servicios</h2>
                </div>

                <div class="contenido">

                    <article id="patentes" class="in-contenido-services">
                        <h3>Patentes</h3>

                        <p class="services">Analizamos a detalle la protección de
                            invenciones aplicando metodologías reconocidas a nivel internacional
                            por la Organización Mundial de la Propiedad Intelectual (OMPI).

                        </p>

                        <!--
<a href="">Continuar leyendo...</a>
-->

                    </article>

                    <article id="marcas" class="in-contenido-services">
                        <h3>Marcas</h3>
                        <p class="services">Hoy en día es imprescindible el solicitar el registro de tu marca
                            para un nuevo producto o servicio; y así evitar problemas en el futuro. Te asesoramos
                            puntualmente de acuerdo a tus necesidades.

                        </p>
                        <!--
<a href="">Continuar leyendo...</a>
-->
                    </article>

                    <article id="modelos" class="in-contenido-services">
                        <h3>Modelos de Utilidad</h3>
                        <p class="services">
                            Los modelos de utilidad son de especial relevancia para inventores mexicanos que quieren
                            proteger su creatividad y obtener ingresos de manera rápida.

                        </p>
                        <!--
<a href="">Continuar leyendo...</a>
-->
                    </article>
                    <article id="designs" class="in-contenido-services">
                        <h3>Diseños Industriales</h3>
                        <p class="services">Protegen características ornamentales de nuevos productos o dispositivos, el
                            instrumento ideal
                            para la protección de prototipos en etapas tempranas.
                        </p>
                        <!--
<a href="">Continuar leyendo...</a>
-->
                    </article>

                    <article id="regulatorios" class="in-contenido-services">
                        <h3>Asuntos Regulatorios</h3>
                        <p class="services">Somos especialistas en el registro sanitario de insumos para la salud ante
                            COFEPRIS.
                            Nuestra asesoría está enfocada en la viglancia del cumplimiento regulatorio y de la pericia
                            en la obtención del registro sanitario.
                        </p>
                        <!--
<a href="">Continuar leyendo...</a>
-->
                    </article>

                    <!-- Aquí puedes escribir tu comentario 
    
  <article class="in-contenido-services">
                    <h3>Academia</h3>
                  
                <a href="http://localhost:3000/academia" class="_blank">Continuar leyendo...</a>
                </article> 
    

-->
                </div>
            </section>


            <!-- 


        <section id="blog">

            <div>
                <br><br><br><br>
                <h2>Revisa los artículos de nuestro blog</h2>

            </div>
            <div class="contenido">
            
                <article class="in-contenido-blog">
                    <p>Procedimiento de registro de marca ante el IMPI </p>
                    <a href="http://localhost:3000/blog" class="_blank">Continuar leyendo...</a>
                </article>

                <article class="in-contenido-blog">
                    <p>Solicitar una patente en México, más allá de la protección de tu inversión.</p>
                    <a href="http://localhost:3000/blog" class="_blank">Continuar leyendo...</a>
                </article>

                <article class="in-contenido-blog">
                    <p> Errores frecuentes al solicitar una patente en México.</p>
                    <a href="http://localhost:3000/blog" class="_blank">Continuar leyendo...</a>
                </article>
               
                
             
            
            </div>
           

        </section>

        -->




            <section id="contact">

                <div>
                    <br><br><br><br>
                    <h2>¡Inicia tu trámite hoy mismo!</h2>

                </div>

                <div class="contenido">

                    <article class="in-contenido-contact">

                        <a class="gold-icon" href="tel:5577078762"><i class="fa-solid fa-phone"></i></a> <br> <br>
                        <a class="gold" href="tel:5577078762">55 7707 8762</a> <br> <br> <br>

                        <a class="gold-icon" href="tel:5564042427"><i class="fa-solid fa-mobile"></i></a> <br> <br>
                        <a class="gold" href="tel:5564042427">55 6404 2427</a> <br> <br> <br>
                        <a class="gold-icon" href="https://wa.link/icoc6n"><i class="fa-brands fa-whatsapp"></i></a>
                        <br> <br>
                        <a class="gold" href="https://wa.link/icoc6n">55 6404 2427</a> <br> <br> <br>
                        <a class="gold-icon" href="mailto:info@innovamotion-agency.com"> <i
                                class="fa-solid fa-envelope"></i></a> <br> <br>
                        <a class="gold" href="mailto:info@innovamotion-agency.com">info@innovamotion-agency.com</a> <br>
                        <br>


                    </article>


                    <div>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.1570230227226!2d-99.17321148473077!3d19.40562034657053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff287f4dd415%3A0xb976f38e0cc76b9!2sInnovamotion%20Agency!5e0!3m2!1ses-419!2smx!4v1654816500547!5m2!1ses-419!2smx"
                            min-width="100%" height="300" style="border:0" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>


                </div>
            </section>



            <%- include ('./partials/footer.ejs')%>
    </body>

</html>