<!DOCTYPE html>
<html lang="es">


<%- include ('./partials/head')%>

    <body>
        <%- include ('./partials/header.ejs')%>

            <section id="home">
                <div class="portada">
                    <h1> Brindamos certeza jurídica a tu creatividad tanto en México como en el extranjero.</h1> <br>
                    <br>
                    <a href="https://wa.link/icoc6n" target="_blank" class="button">¡Contáctanos!</a>
                    <br>
                </div>
            </section>

            <section id="about">

                <div>
                    <br><br><br><br><br>
                    <h2>Motivados por el fomento a la innovación</h2>
                </div>

                <div class="contenido">


                    <article class="in-contenido-about">
                        <p >Proveemos soluciones integrales en la gestión de Propiedad Intelectual e innovación, gracias
                            a la experiencia adquirida desde 2012 como Examinadores de Patente y Abogados dentro del
                            Instituto Mexicano de la Propiedad Industrial (IMPI).
                        </p>
                        <!--
<a href="">Continuar leyendo...</a>
-->

                    </article>
                        
                    <article id="about-image"></article>


                </div>



            </section>
            <section id="international">
                <div>
                    <br><br><br><br><br>
                    <h2>Alcance internacional</h2>

                </div>


                <div class="contenido">

                    <article class="in-contenido-about">
                        <p>Debido a nuestro profesionalismo y casos de éxito somos reconocidos como una firma emergente
                            lider en la gestión de Propiedad Intelectual e innovación.</p>

                    </article>

                    <article id="logo-internacional"></article>

                </div>

            </section>

            <section id="services">

                <div>
                    <br><br><br><br><br>
                    <h2>Nuestros servicios</h2>

                    <br><br>
                </div>

                <div class="contenido">

                    
                    <div class="service-content">
                        <div class="i-patente"></div>
                                                
                        <div class="name-service">
                        <p class="gold">Patentes</p>
                        </div>
                    </div>

                    <div class="service-content">
                        <div class="i-marca"></div>
                                                
                        <div class="name-service">
                        <p class="gold">Marcas</p>
                        </div>
                    </div>

                    <div class="service-content">
                        <div class="i-model"></div>
                                                
                        <div class="name-service">
                        <p class="gold">Modelos de Utilidad</p>
                        </div>
                    </div>

                    <div class="service-content">
                        <div class="i-design"></div>
                                                
                        <div class="name-service">
                        <p class="gold">Diseños Industriales</p>
                        </div>
                    </div>

                    <div class="service-content">
                        <div class="i-regulo"></div>
                                                
                        <div class="name-service">
                        <p class="gold">Asuntos Regulatorios</p>
                        </div>
                    </div>

                </div>
            </section>


            <!-- 


        <section id="blog">

            <div>
                <br><br><br><br>
                <h2>Revisa los artículos de nuestro blog</h2>

            </div>
            <div class="contenido">
            
                <article class="in-contenido-blog">
                    <p>Procedimiento de registro de marca ante el IMPI </p>
                    <a href="http://localhost:3000/blog" class="_blank">Continuar leyendo...</a>
                </article>

                <article class="in-contenido-blog">
                    <p>Solicitar una patente en México, más allá de la protección de tu inversión.</p>
                    <a href="http://localhost:3000/blog" class="_blank">Continuar leyendo...</a>
                </article>

                <article class="in-contenido-blog">
                    <p> Errores frecuentes al solicitar una patente en México.</p>
                    <a href="http://localhost:3000/blog" class="_blank">Continuar leyendo...</a>
                </article>
               
                
             
            
            </div>
           

        </section>

        -->




            <section id="contact">

                <div>
                    <br><br><br><br><br>
                    <h2>¡Inicia tu trámite <br> hoy mismo!</h2>
                    <br>
                </div>

                <div class="contenido">

                    <article class="in-contenido-contact">

                        <a class="gold-icon" href="tel:5577078762"><i class="fa-solid fa-phone"></i></a> <br> <br>
                        <a class="gold" href="tel:5577078762">55 7707 8762</a> <br> <br> <br>

                        

                    </article>

                    <article class="in-contenido-contact">
                        <a class="gold-icon" href="tel:5564042427"><i class="fa-solid fa-mobile"></i></a> <br> <br>
                        <a class="gold" href="tel:5564042427">55 6404 2427</a> <br> <br> <br>
                       
                    </article>
                    <article class="in-contenido-contact">
                        <a class="gold-icon" href="https://wa.link/icoc6n"><i class="fa-brands fa-whatsapp"></i></a>
                        <br> <br>
                        <a class="gold" href="https://wa.link/icoc6n">55 6404 2427</a> <br> <br> <br>
                        
                    </article>
                    <article class="in-contenido-contact">
                        <a class="gold-icon" href="mailto:info@innovamotion-agency.com"> <i
                            class="fa-solid fa-envelope"></i></a> <br> <br>
                         <a class="gold" href="mailto:info@innovamotion-agency.com">info@innovamotion-agency.com</a> <br>
                    <br>
                    </article>
                    <br><br><br>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.1570230227226!2d-99.17321148473077!3d19.40562034657053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff287f4dd415%3A0xb976f38e0cc76b9!2sInnovamotion%20Agency!5e0!3m2!1ses-419!2smx!4v1654816500547!5m2!1ses-419!2smx"
                            class="maps" style="border:0" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    

                </div>
            </section>



            <%- include ('./partials/footer.ejs')%>
    </body>

</html>