<!DOCTYPE html>
<html lang="en">


<%- include ('./partials/head')%>

<body>
    <%- include ('./partials/header.ejs')%>

    <div class="space-nav">
        <section id="home">

            <div class="portada">
                <h2>Brindamos certeza jurídica a tu creatividad tanto en México como en el extranjero.</h2>
    
                <form type="button"> ¡Contáctanos!</form>
            
            </div>
        


        </section>

    
        <section id="about">
        
            <h2>Acerca de nuestra firma</h2>
            
            <p>¡Motivados por el fomento a la innovación!</p>

            <p>La firma se enfoca principalmente en proveer soluciones integrales en la gestión de Propiedad Intelectual, como resultado de la generación de nuevos conocimientos y desarrollos tecnológicos suceptibles de impactar positivamente el mundo en el que vivimos.
            </p>


            <p>Gracias a la experiencia adquirida desde 2012 como Examinadores de Patente y Abogados dentro del Instituto Mexicano de la Propiedad Industrial (IMPI), que junto con nuestros procedimientos estandarizados y gran dinamismo, nos permiten brindar un servicio de gran calidad, acorde con las necesidades de todos nuestros clientes.

            </p>


            
        </section>

        <section id="services">
        
            <h2>Nuestros servicios
            </h2>
            
            <p>Patentes</p>
            <p>Marcas</p>
            <p>Modelos de Utilidad</p>
            <p>Diseños Indsutriales</p>
            <p>Asuntos Regulatorios</p>
            <p>Academia</p>

        </section> 
        
        
        <section id="international">
        
            <h2>A nivel nacional e internacional</h2>
            <p>Somos conscientes de que la Propiedad Intelectual es un aspecto fundamental para detonar la magia de la innovación. Es por ello que, además de la consultoría estamos enfocados en la impartición de cursos y talleres formativos para concientizar a todos los actores involucrados tales como: emprendedores, inventores independientes, creativos y científicos.</p>


            <p>Reconocida como la mejor empresa joven de gestión de Propiedad Intelectual del 2019
            </p>
           

        </section>

        <section id="blog">
        
            <h2>Revisa los artículos de nuestro blog</h2>
            
            <p>Procedimiento de registro de marca ante el IMPI </p>

            <p>Solicitar una patente en México, más allá de la protección de tu inversión.</p>
            <p> Errores frecuentes al solicitar una patente en México.</p>

        </section>

        <section id="contact">
        
            <h2>Llena el formulario para que uno de nuestros agentes te contacte</h2>
            
            <p>Nombre</p>
            <p>Email </p>
            <p>Consulta</p>

        </section>



<%- include ('./partials/footer.ejs')%>    
</body>
</html>