<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head')%>

<body>
    <%- include ('./partials/header.ejs')%>

    <div class="space-nav">
        <div> <a href="">Hola HOME innovamotion</a></div>
    
        <h1>Sitio de Innovamotion </h1>
        
        <h2>Subtitulo</h2>
    
        <img src="https://innova-motion.com/wp-content/uploads/2020/12/legalaw.png">
    
        <section>
        
            <h2>Producto destacado</h2>
            
            <!-- Contenido del producto -->
            Patentes desde 2012
            <footer>
            <a href="#">Continuar leyendo...</a>
            </footer>
        </section>
    



<%- include ('./partials/footer.ejs')%>    
</body>
</html>