<!DOCTYPE html>
<html lang="es">

    <%- include ('./partials/head')%>

<body>
<h2>Que gusto verte</h2>
    

<section class="login">   


    <form action="resultado.html" method="POST">
        
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <br>
        <label for="nombre">Contraseña</label>
        <input type="password" name="password" id="password" required>
        <br>
        <input type="submit" value="Enviar"></input>
        <br>
        <p>No tienes una cuenta?</p>
        
          <a href="http://localhost:3000/register" class="_blank">Registrate aquí</a>
        <br>   <br>   <br>
        <a href="">Olvide mi contraseña</a>
    </form>
</section>    
 
</body>
</html>