<!DOCTYPE html>
<html lang="es">
    <%- include ('./partials/head')%>
<body>
    
<section id="modelos">

    <div><h2>Modelos de Utilidad</h2></div>

<div class="contenido">

<article>
    <p>Los modelos de utilidad son</p>
</article>

</div>


</section>
    
    <%- include ('./partials/footer.ejs')%>    

</body>
</html>