<!DOCTYPE html>
<html lang="es">
    <%- include ('./partials/head')%>

<body>
<h2>Únete al movimiento de la innovación</h2>

<section class="register">
    <form method="POST" action="/users/register" >
        <label for="">Nombre</label>
        <input type="text" name="nombre" required>
        <br>
        <label for="">Email</label>
        <input type="email" name="email" required>

        <%/* comment
        
        <br>
        <label for="">Contraseña</label>
        <input type="password" name="password1" required>
        <br>
        <label for="">Repita su contraseña</label>
        <input type="password" name="password2" required>
        <br>
        <label for=""> <input type="checkbox" name="terminos" required> Acepto los términos y condiciones de Innovamotion Agency.</label>
        */%>
        <br>
        <br>
        <input type="submit" name="Registrar">
            <br>

        <p>Ya tienes una cuenta?</p>
        <br>
        <a href="http://localhost:3000/login" class="_blank">Inicia sesión aquí</a>
        

    </form>
    
</section>


</body>
</html>