* {
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  position: fixed;
  background-color: rgb(143, 120, 58);
  width: 100%;
  top: 0px;

}

.button {
  background-color: #61b4ce;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 29px;
  margin: 4px 2px;
  cursor: pointer;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: rgb(42, 124, 218);
  font-size: 1.7rem;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  color: rgb(12, 147, 196);

}

#logotipo-main {
  background-image: url(../img/firma-logo.png);
  background-position: center center;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  width: 100px;
  height: 60px;
}

.enlaces {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  color: rgb(255, 255, 255);
}

.enlaces a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-left: 3vw;
  padding-right: 3vw;
}

.space-nav {

  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;

}

#home {
  background-image: url(../img/foco-fondo-s2.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  height: 600px;
}

h1 {
  color: rgb(201, 186, 73);
}

.portada {
  text-align: right;
  padding-top: 5rem;
  padding-right: 3rem;
  padding-left: 45rem;
  padding-bottom: 5rem;
}

.contenido {

  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;

}

#about {
  background: linear-gradient(to right, rgba(243, 243, 248, 0.905), rgb(219, 222, 222))
}

.in-contenido-about {

  min-width: 90%;
  max-width: 91%;
  padding: 0.5rem;
  text-align: center;
}

.in-contenido-international {

  min-width: 90%;
  max-width: 91%;
  padding: 0.5rem;
  text-align: center;

}

#about-image {
  background-image: url(../img/sign1-s2.jpg);
  background-position: center center;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  width: 100px;
  height: 60px;
}

#services {

  background-color: rgb(3, 0, 27);
}

.in-contenido-services {
  border: 1px solid;
  border-color: rgb(66, 66, 121);
  min-width: 30%;
  max-width: 31%;
  margin: 1rem;
  text-align: center;
}

.service-content{
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  height: 350px;
  min-width: 30%;
  max-width: 31%;  
  margin: 1rem;
}
.name-service{
  text-align: center;
   height: 50%;
}



.i-patente{
    background-image: url(../img/circle-s.jpg);
    background-position: center center;
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 65%;
    
  }

  .i-marca{
    background-image: url(../img/trademark-s.jpg);
    background-position: center center;
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    width: 100%;
    height: 65%;
    
  }

  .i-model{
    background-image: url(../img/foco-verde-s.jpg);
    background-position: center center;
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    width: 100%;
    height: 65%;
    
  }

  .i-design{
    background-image: url(../img/auto-s.jpg);
    background-position: center center;
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    width: 100%;
    height: 65%;
  }

  .i-regulo{

    background-image: url(../img/regulatorio-s.jpg);
    background-position: center center;
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    width: 100%;
    height: 65%;
  }

.services {
  color: rgb(243, 243, 243)
}

#international {
  background: linear-gradient(to right, rgba(243, 243, 248, 0.905), rgb(219, 222, 222))
}

.in-contenido-international {

  min-width: 30%;
  max-width: 45%;
  padding: 2rem;
  margin: 1rem;
}

#logo-internacional {
  background-image: url(../img/legalaw-s.jpg);
  background-position: center center;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  width: 430px;
  height: 608px;
  margin-bottom: 10px;
}

#contact {

  background-color: rgb(3, 0, 27);
  padding-bottom: 2rem;
}

.in-contenido-contact {

  text-align: center;
  min-width: 30%;
  max-width: 31%;

}

.maps {
  width: 100%;
}

#footer {
  display: flex;
  justify-content: center;
  border: 1px solid;
  border-color: rgb(194, 194, 209);
  background: linear-gradient(to right, rgba(243, 243, 248, 0.905), rgb(219, 222, 222));

}

.in-contenido-footer {
  min-width: 80%;
  max-width: 85%;
  padding: 1rem;
  margin: 1rem;
  text-align: center;

}

#logo-footer {
  background-image: url(../img/redondo-logo.png);
  background-position: center center;
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  width: 100px;
  height: 100px;
  margin-top: 50px;
}

section {
  width: 100%;
  min-height: 800px;
}




h2 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: none;
  text-align: center;
  color: rgb(196, 178, 44);
}

h3 {
  font-size: 1.6rem;
  color: rgb(196, 178, 44);
}

p {
  font-size: 1.7rem;
  line-height: 22px;
  color: rgb(0, 0, 0);
}

section {
  width: 100%;
  min-height: 650px;
}

@media(min-width:951px) {
  html {
    font-size: 17px;
  }

  header {

    height: 120px;
    
  }

  #logotipo-main {
    margin-top: 15px;
    width: 140px;
    height: 80px;
    margin-bottom: 15px;
  }

  #enlaces {
    margin-top: 15px;
  }

  .enlaces a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 22px;
  }

  .nav-bar{
    padding-bottom: 1.8vw;

  }

  #home {

    height: 850px;
  }

h1{
  font-size: 3rem;

}

  .portada {
    text-align: left;
    padding-top: 15rem;
    padding-right: 45%;
    padding-left: 3rem;
    padding-bottom: 2rem;
  }
  .boton{
  margin-top: 20px;
}

  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: none;
    text-align: center;
    color: rgb(196, 178, 44);
  }

  section {
    width: 100%;
    min-height: 450px;
  }
  p {
    font-size: 1.7rem;
    line-height: 2.5rem;
    
  }
  .contenido {
    justify-content: center;
  }

  .in-contenido-about {

    min-width: 70%;
    max-width: 71%;
    margin: 2rem;
    
  }

  #about-image {
    min-width: 95%;
    min-height: 600px;
    margin-bottom: 10px;
  }

  #services {
    background: linear-gradient(to right, rgba(243, 243, 248, 0.905), rgb(219, 222, 222))
  }

  .in-contenido-services {
    border: 2px solid;
    border-color: rgb(196, 175, 10);
    background-color: #dce5ec;
    min-width: 30%;
    max-width: 31%;
    padding: 1rem;
    margin: 1rem;
  }

  #international {}

  #contact {
    background: linear-gradient(to right, rgba(243, 243, 248, 0.905), rgb(219, 222, 222))
  }

  .in-contenido-contact {
    min-width: 15%;
    max-width: 17%;
    padding: 1rem;
    margin: 1rem;

  }

 

  .maps{
    height: 500px;

  }

  p.gold,
  a.gold {
    color: rgb(196, 178, 44);
    font-size: 1.8rem;
    line-height: 25px;
   
  }

  a.gold-icon {
    color: rgb(196, 178, 44);
    font-size: 3rem;
   
  }

  a.gold-icon:hover {
    color: rgb(42, 124, 218);
    font-size: 3.4rem;
   
  }

  p.footer {
    font-size: 1.8rem;
    line-height: 30px;
    text-align: center;
  }

  .social {
    color: rgb(196, 175, 10);
    font-size: 1.6rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

}

@media(max-width:950px) {

  html {
    font-size: 17px;
  }

  header {

    height: 130px;
  }

  #logotipo-main {
    margin-top: 15px;
    width: 140px;
    height: 80px;
  }

  #enlaces {
    margin-top: 22px;
  }

  #home {

    height: 1100px;
  }

  h1 {

    font-size: 2.6rem;
  }

  .portada {
    text-align: left;
    padding-top: 15rem;
    padding-right: 20rem;
    padding-left: 5rem;
    padding-bottom: 2rem;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: none;
    text-align: center;
    color: rgb(196, 178, 44);
  }

  section {
    width: 100%;
    min-height: 450px;
  }

  p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    
  }

  .contenido {
    justify-content: center;
  }

  .maps {
    height: 450px;

  }

  #about-image {
    min-width: 98%;
    min-height: 450px;
    margin-bottom: 10px;
  }

  #services {
    background: linear-gradient(to right, rgba(243, 243, 248, 0.905), rgb(219, 222, 222))
  }

  .in-contenido-services {
    border: 2px solid;
    border-color: rgb(196, 175, 10);
    background-color: #dce5ec;
    min-width: 97%;
    max-width: 98%;
    padding: 1rem;
    margin: 1rem;
  }

  .service-content{
    min-width: 70%;
    max-width: 71%;  
    margin: 1rem;
  }

  #international {}

  #contact {
    background: linear-gradient(to right, rgba(243, 243, 248, 0.905), rgb(219, 222, 222))
  }

  .in-contenido-contact {
    min-width: 79%;
    max-width: 80%;
    padding: 1rem;
    margin: 1rem;

  }

  p.gold,
  a.gold {
    color: rgb(196, 178, 44);
    font-size: 1.8rem;
    line-height: 25px;
  }

  a.gold-icon {
    color: rgb(196, 178, 44);
    font-size: 3rem;

  }

  p.footer {
    font-size: 1.8rem;
    line-height: 30px;
    text-align: center;
  }

  .social {
    color: rgb(196, 175, 10);
    font-size: 1.6rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

}

@media(max-width: 650px) {

  html {
    font-size: 14px;
  }

  header {
    position: static;
    height: 110px;
  }

  #logotipo-main {
    margin-top: 15px;
    width: 140px;
    height: 80px;
  }

  #enlaces {
    display: none;
  }

  #home {

    height: 850px;
  }

  h1 {

    font-size: 2.9rem;
  }

  .portada {
    text-align: left;
    padding-top: 6rem;
    padding-right: 10rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: none;
    text-align: center;
    color: rgb(196, 178, 44);
  }

  section {
    width: 100%;
    min-height: 450px;
  }

  .contenido {
    justify-content: center;
  }

  #about-image {
    min-width: 98%;
    min-height: 200px;
    margin-bottom: 10px;
  }

  #services {
    background: linear-gradient(to right, rgba(243, 243, 248, 0.905), rgb(219, 222, 222))
  }

  .in-contenido-services {
    border: 2px solid;
    border-color: rgb(196, 175, 10);
    background-color: #dce5ec;
    min-width: 97%;
    max-width: 98%;
    padding: 1rem;
    margin: 1rem;
  }
  .service-content{
    min-width: 80%;
    max-width: 81%;  
    margin: 1rem;
  }
  #international {}

  #contact {
    background: linear-gradient(to right, rgba(243, 243, 248, 0.905), rgb(219, 222, 222))
  }

  .in-contenido-contact {
    min-width: 79%;
    max-width: 80%;
    padding: 1rem;
    margin: 1rem;

  }

  .maps {
    height: 450px;

  }

  p.gold,
  a.gold {
    color: rgb(196, 178, 44);
    font-size: 1.8rem;
    line-height: 25px;
  }

  a.gold-icon {
    color: rgb(196, 178, 44);
    font-size: 3rem;

  }

  p.footer {
    font-size: 1.8rem;
    line-height: 30px;
    text-align: center;
  }

  .social {
    color: rgb(196, 175, 10);
    font-size: 1.6rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

}

@media(max-width: 400px) {

  html {
    font-size: 13px;
  }

  header {
    position: static;
    height: 110px;
  }


  #logotipo-main {
    margin-top: 15px;
    width: 140px;
    height: 80px;
  }

  #enlaces {
    display: none;
  }

  #home {
    height: 800px;
  }

  h1 {
    font-size: 3rem;
  }

  .portada {
    text-align: left;
    padding-top: 1rem;
    padding-right: 10rem;
    padding-left: 2rem;

  }

  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: none;
    text-align: center;
    color: rgb(196, 178, 44);
  }

  section {
    width: 100%;
    min-height: 450px;
  }

  .contenido {
    justify-content: center;
  }

  #about-image {
    min-width: 98%;
    min-height: 200px;
    margin-bottom: 10px;
  }

  #services {
    background: linear-gradient(to right, rgba(243, 243, 248, 0.905), rgb(219, 222, 222))
  }

  .in-contenido-services {
    border: 2px solid;
    border-color: rgb(196, 175, 10);
    background-color: #dce5ec;
    min-width: 97%;
    max-width: 98%;
    padding: 1rem;
    margin: 1rem;
  }

  .service-content{
    min-width: 80%;
    max-width: 81%;  
    margin: 1rem;
  }

  #international {}

  #contact {
    background: linear-gradient(to right, rgba(243, 243, 248, 0.905), rgb(219, 222, 222))
  }

  .in-contenido-contact {
    min-width: 79%;
    max-width: 80%;
    padding: 1rem;
    margin: 1rem;

  }

  p.gold,
  a.gold {
    color: rgb(196, 178, 44);
    font-size: 1.8rem;
    line-height: 25px;
  }

  a.gold-icon {
    color: rgb(196, 178, 44);
    font-size: 4rem;

  }

  .maps {
    height: 400px;

  }

  p.footer {
    font-size: 1.8rem;
    line-height: 30px;
    text-align: center;
  }

  .social {
    color: rgb(196, 175, 10);
    font-size: 1.6rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}